header {
  background-color: #483D8B;
  height: 35px;
  width: 100%;
  opacity: .9;
  padding: 10px 0px 5px 0px;

}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #C0C0C0;
  text-transform: uppercase;
  float: left;
  margin-left: 10px;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

header h1 a {
    color:#C0C0C0;
    text-decoration: none;
}

div.container {
  margin: 0 auto;
  background-color: white;
}

/*
 * Alignment Classes
 */
.right{
    float:right;
}

.left{
    float:left;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #FFF5EE;
  text-decoration: none;
}


table.results {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

th {
  background-color: #B0B0B0;
  color: #000000;
}

th:after {
    content: "\00a0\00a0\00a0";
}

th.major {
  background-color: #909090;
  color: #FFFFFF;
}

th.minor {
  background-color: #B0B0B0;
  color: #FFFFFF;
  width: 150px;

}

th.dark {
   background-color: #32455B;    /* same as page background */
   color: skyblue;
   font-size: 1.2em;
   padding-top: 5px;

}

table.results thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.results thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.results thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.results thead tr .headerSortDown, table.results thead tr .headerSortUp {
background-color: #8dbdd8;
}

div.results-outer{
    overflow-x: scroll;
}



